[Unit]
Description=PV Storage charge only controller
Wants=network.target
After=network.target modbus-proxy-pv.service
Conflicts=pv-control.service

[Service]
Type=simple
ExecStart=/home/klaus/git/PV-storage-controller/pv-control charge
StandardOutput=null
KillSignal=SIGINT
 
[Install]
WantedBy=multi-user.target
