[Unit]
Description=PV Storage charge controller
Wants=network.target modbus-proxy-pv.service mosquitto.service
After=network.target modbus-proxy-pv.service mosquitto.service
Conflicts=pv-charge.service
 
[Service]
Type=simple
ExecStart=/home/klaus/git/PV-storage-controller/pv-control
StandardOutput=null
KillSignal=SIGINT
 
[Install]
WantedBy=multi-user.target
